* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #2c3e50;
}

infoview {
    width: 300px;
    height: 250px;
    background-color: #ecf0f1;
    float: left;

    margin: 3px;
    border-radius: 4px;

    overflow: hidden;
    position: relative;

    border: 2px solid #bdc3c7;
}

infoview .infocontainer {
    float: left;
    height: 50px;
    width: 100%;
}

infoview .infocontainer canvas {
    width: 50px;
    height: 50px;
    float: left;
}

infoview .infocontainer h1 {
    display: block;
    width: calc(100% - 50px);
    float: left;
    line-height: 50px;
    padding-left: 5px;
    color: #2c3e50;
    font-size: 25px;
}

infoview .craftingrecipe {
    height: 200px;
    width: 200px;
    float: left;
}

infoview .info {
    font-size: 7px;
    float: left;
    width: 95px;
    height: 200px;

    padding: 5px;
}

infoview .info h1 {
    display: block;
    float: left;
    width: 95px;
}
